*{
    margin: 0;
    padding: 0;
    text-align: center;
}
#header{
     
    height: 5rem;
    background-color: darkblue;
    color: white;
    line-height: 5rem;
}
 
.choice{
    
    height: 150px;
    width: 150px;
    border: 1px solid black;
    
}

.choices{
    display: flex;
 justify-content:  space-evenly;
 align-items: center;
 font-size: 600%;
 margin-top: 5rem;
 }
 #rock{
    background-color: rgb(225, 133, 148);
 }

 #paper{
    background-color: rgb(214, 76, 214);
 }

 #scissor{
    background-color: rgb(127, 210, 229);
 }
 .choice:hover{
    /* opacity: 0.5; */
    border: 3px solid black;
    cursor: pointer;
 }
 .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
   margin-top: 2rem;
   gap: 5rem;
 }

 #user-score,#Computer-score{
    font-size: 3rem;
 }
.message-container{
    margin-top: 4rem;
}
#msg{
    background-color: black;
    color:whitesmoke;
    height: 5rem;
    font-size: 2rem;
     padding: 1rem;
     border-radius: 1rem;
    display: inline;

}